body{
	background-color:#7cbd47;
	overflow: scroll;
}

.main_container{
	/*text-align:center;
	width:1000px;
	height:1000px;
	-webkit-box-shadow:0 0 8px 0;
	margin-top:50px;
	margin:auto;*/
	/*background-color:#00b1c3;*/
	/*border-radius:34px;*/
	/*padding:20px;*/
}

.main_container .category_container .category_text{
	padding:10px 0;
	font-family:Rockwell,Georgia,"Times New Roman",Times,serif;
	font-size:30px;
	color:#0d4383;
	text-shadow:rgba(0,0,0,0.5) -1px 0,rgba(0,0,0,0.3) 0 -1px,rgba(255,255,255,0.5) 0 1px,rgba(0,0,0,0.3) -1px -2px;
	text-align: center;
	background-color:#f9b701;
	margin-left: auto;
	margin-right: auto;
	width:100px;
	height:30px;
	border-radius:12px;
	margin-bottom:30px;
	cursor:pointer;
	border-bottom: 1px solid #c5c5c5;
	border-top: 1px solid white;
}

.main_container .category_container:last-child .category_details{
	margin-bottom:0;
}

.main_container .category_container .table_container{
	display:none;
}

/*dd {
    margin: 0;
	
    padding: 1em 0;
}

dt {
    cursor: pointer;
    font-weight: bold;
    font-size : 1.5em;
    line-height: 2em;
    background: #e3e3e3;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;
}

dt:first-child { border-top: none; }
dt:nth-last-child(2) { border-bottom: none; }*/


.logo{
	position: fixed;
	left: auto;
	right:auto;
	top: 30%;
	text-align: middle;
}

.home_page{
	position: fixed;
	left: 40%;
	top: 40%;
}

.hide { 
	display: none;
}

table tr .title {
    background:#006600;
    color:#fff;
    font-weight:bold;
    padding:5px;
    width:100px;  
}
 
table tr .text {
    padding-left:10px;
}