<script type="text/javascript">
    function blurText(obj){
        obj.style.color = "grey";
        $('#submit2').addClass('hide');
    }

    function focusText(obj){
        obj.style.color = "black";
        $('#submit2').removeClass('hide');
    }

    $("#searchBox2").keyup(function(event){
        var code = event.which;
        if(code == 13){
            document.getElementById("submit2").click();
        }
    });
</script>

<div class="topPart">
    <a><img id="after_img" src="{{ STATIC_URL }}logo.png"/></a>
    <input id="searchBox2"
        type = "text"
        placeholder="Search another City"/>
    <button class="btn-primary btn" id="submit2">Go</button>
</div>
<div id="city_name">
    {{ product.city }} , {{ product.country }}
</div>
<div class="main_container">
    <div class="category_container">
        <div class="category_text">500</div>
        <div class="category_details">
            <div class="best" style="float: left; width: 50%;">
                <table class="best_table">
                    <th>Best Quality</th>
                    <tr>
                        <td class="title">{{ product.jeans.name }}</td>
                        <td class="text">{{ product.jeans.price }}</td>
                    </tr>
                    <tr>
                        <td class="title">{{ product.Meal_Inexpensive_Restaurant.name }}</td>
                        <td class="text">{{ product.Meal_Inexpensive_Restaurant.price }}</td>
                    </tr>
                    <tr>
                        <td     class="title">{{ product.Tennis_Court_Rent.name }}</td>
                        <td class="text">{{ product.Tennis_Court_Rent.price }}</td>
                    </tr>    
                    <tr>
                        <td class="title">{{ product.taxi_for_one_km.name }}</td>
                        <td class="text">{{ product.taxi_for_one_km.price }}</td>
                    </tr>
                    <tr>
                        <td class="title">{{ product.hotels.four_star.name }}</td>
                        <td class="text">{{ product.hotels.four_star.price }}</td>
                    </tr>
                    <tr>
                        <td class="title">{{ product.hotels.five_star.name.name }}</td>
                        <td class="text">{{ product.hotels.five_star.name.price }}</td>
                    </tr>
                </table>
                {% if calc < 500 %}
                    <img src="{{ STATIC_URL }}ok.png"/>
                {% else %}
                    <img src="{{ STATIC_URL }}bad.png"/>
                {% endif %}
            </div>
                
{#            <div class="most" style="float: right; width: 50%;">#}
{#                <table>#}
{#                    <tr>#}
{#                        <td class="title">Name: </td>#}
{#                        <td class="text">John Don</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="title">Age: </td>#}
{#                        <td class="text">23</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="title">Gender: </td>#}
{#                        <td class="text">Male</td>#}
{#                    </tr>    #}
{#                    <tr>#}
{#                        <td class="title">Day of Birth:</td>#}
{#                        <td class="text">12th May 1986</td>#}
{#                    </tr>#}
{#                </table>#}
{#            </div>#}
        </div>
    </div>
{#    <div class="category_container">#}
{#        <div class="category_text">1000</div>#}
{#        <div class="category_details">#}
{#            <div class="best" style="float: left; width: 50%;">#}
{#                <table>#}
{#                    <tr>#}
{#                        <td class="title">Name: </td>#}
{#                        <td class="text">John Don</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="title">Age: </td>#}
{#                        <td class="text">23</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="title">Gender: </td>#}
{#                        <td class="text">Male</td>#}
{#                    </tr>    #}
{#                    <tr>#}
{#                        <td class="title">Day of Birth:</td>#}
{#                        <td class="text">12th May 1986</td>#}
{#                    </tr>#}
{#                </table>#}
{#            </div>#}
{#                #}
{#            <div class="most" style="float: right; width: 50%;">#}
{#                <table>#}
{#                    <tr>#}
{#                        <td class="title">Name: </td>#}
{#                        <td class="text">John Don</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="title">Age: </td>#}
{#                        <td class="text">23</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="title">Gender: </td>#}
{#                        <td class="text">Male</td>#}
{#                    </tr>    #}
{#                    <tr>#}
{#                        <td class="title">Day of Birth:</td>#}
{#                        <td class="text">12th May 1986</td>#}
{#                    </tr>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="category_container">#}
{#        <div class="category_text">2000</div>#}
{#        <div class="category_details">#}
{#            <div class="best" style="float: left; width: 50%;">#}
{#                <table>#}
{#                    <tr>#}
{#                        <td class="title">Name: </td>#}
{#                        <td class="text">John Don</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="title">Age: </td>#}
{#                        <td class="text">23</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="title">Gender: </td>#}
{#                        <td class="text">Male</td>#}
{#                    </tr>    #}
{#                    <tr>#}
{#                        <td class="title">Day of Birth:</td>#}
{#                        <td class="text">12th May 1986</td>#}
{#                    </tr>#}
{#                </table>#}
{#            </div>#}
{#                #}
{#            <div class="most" style="float: right; width: 50%;">#}
{#                <table>#}
{#                    <tr>#}
{#                        <td class="title">Name: </td>#}
{#                        <td class="text">John Don</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="title">Age: </td>#}
{#                        <td class="text">23</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="title">Gender: </td>#}
{#                        <td class="text">Male</td>#}
{#                    </tr>    #}
{#                    <tr>#}
{#                        <td class="title">Day of Birth:</td>#}
{#                        <td class="text">12th May 1986</td>#}
{#                    </tr>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="category_container">#}
{#        <div class="category_text custom_value">Custom</div>#}
{#        <div class="category_details">#}
{#            <div class="best" style="float: left; width: 50%;">#}
{#                <table>#}
{#                    <tr>#}
{#                        <td class="title">Name: </td>#}
{#                        <td class="text">John Don</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="title">Age: </td>#}
{#                        <td class="text">23</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="title">Gender: </td>#}
{#                        <td class="text">Male</td>#}
{#                    </tr>    #}
{#                    <tr>#}
{#                        <td class="title">Day of Birth:</td>#}
{#                        <td class="text">12th May 1986</td>#}
{#                    </tr>#}
{#                </table>#}
{#            </div>#}
{#                #}
{#            <div class="most" style="float: right; width: 50%;">#}
{#                <table>#}
{#                    <tr>#}
{#                        <td class="title">Name: </td>#}
{#                        <td class="text">John Don</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="title">Age: </td>#}
{#                        <td class="text">23</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="title">Gender: </td>#}
{#                        <td class="text">Male</td>#}
{#                    </tr>    #}
{#                    <tr>#}
{#                        <td class="title">Day of Birth:</td>#}
{#                        <td class="text">12th May 1986</td>#}
{#                    </tr>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div>